root = true

[*]
charset = utf-8
indent_style = space
indent_size = 2
end_of_line = lf
insert_final_newline = false # Deve todo final de código adicionar manualmente uma linha vazia
trim_trailing_whitespace = true
