/**
 * Skyrus Labz - ${fileName}
 * @FileOwner ${3:Your Name} (${4:you@example.org})
 * @Autors ${3:GitUser} (${4:you@example.org})
 * @date    ${date}
 * Copyright © 2024, Skyrus Labz. Todos os direitos reservados.
 */

$0